<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestApplication"
       parallel="instances"
       data-provider-thread-count="10">

    <test name="Login Test">
        <classes>
            <class name="org.swiften.testapplication.test.login.UILoginTest"/>
        </classes>
    </test>
</suite>