<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="XTestKit"
       parallel="classes"
       thread-count="100"
       data-provider-thread-count="100">

    <test name="Test Kit Test">
        <classes>
            <class name="org.swiften.xtestkit.kit.MockTestKitTest"/>
        </classes>
    </test>

    <test name="Base Platform Test">
        <classes>
            <class name="org.swiften.xtestkit.engine.base.PlatformEngineTest"/>
        </classes>
    </test>

    <test name="Android Test">
        <classes>
            <class name="org.swiften.xtestkit.engine.android.MockAndroidEngineTest"/>
        </classes>
    </test>

    <test name="iOS Test">
        <classes>
            <class name="org.swiften.xtestkit.engine.ios.MockIOSEngineTest"/>
        </classes>
    </test>

    <test name="Network Handler Test">
        <classes>
            <class name="org.swiften.xtestkit.system.NetworkHandlerTest"/>
        </classes>
    </test>

    <test name="Localizer Test (Actual)">
        <classes>
            <class name="com.swiften.xtestkit.localizer.actual.LocalizerTest"/>
        </classes>
    </test>

    <test name="Localizer Test (Mock)">
        <classes>
            <class name="com.swiften.xtestkit.localizer.mock.LocalizerTest"/>
        </classes>
    </test>

    <test name="Repeat Runner Test">
        <classes>
            <class name="org.swiften.xtestkit.test.RepeatRunnerTest"/>
        </classes>
    </test>

</suite>